/* >>>>>>>>>>>>>> Colors <<<<<<<<<<<<<< */
/* >>> You change the whole theme <<<< */
/* >>> by changing these colors <<<< */
/* >>>>>>>> Fonts Sizes <<<<<<<<< */
:root {
  --paragraph: 16px;
}

@media screen and (max-width: 1024px) {
  :root {
    --paragraph: 14px;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>> Navbar <<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px 0px 15px 0px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /* >>>> Navigations <<<< */
  /* >>>>>> Left <<<<<< */
  /* >>>>>> Center <<<<<< */
  /* >>>>>> Search Form <<<<< */
  /* >>>>>> Right <<<<<< */
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #c9a882;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.navbar .--navbar--left-- {
  width: 28%;
  padding-left: 180px;
  margin-top: -65px;
  position: relative;
  /* >>>> Language Dropdown <<<< */
  /* >>>> By default display/none <<<< */
  /* >>>> Shown on Hover <<<< */
}

.navbar .--navbar--left-- .nav-link {
  padding: 8px 12px;
}

.navbar .--navbar--left-- .nav-link:last-child:hover {
  color: #ffffff;
}

.navbar .--navbar--left-- .nav-link svg {
  display: none;
}

.navbar .--navbar--left-- .--languages-- {
  display: none;
  position: absolute;
  width: 60px;
  background: #ffffff;
  margin-left: 10px;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  z-index: 999;
}

.navbar .--navbar--left-- .--languages-- .nav-link {
  padding: 7px 12px;
  color: rgba(0, 0, 0, 0.24);
}

.navbar .--navbar--left-- .--languages-- .nav-link:hover {
  background: #ffffff;
  color: #c9a882;
}

.navbar .--navbar--left-- .--languages-- .nav-link.active {
  background: #ffffff;
  color: #c9a882;
}

.navbar .--navbar--left-- .--languages-- i {
  font-size: 8px;
  padding-left: 5px;
}

.navbar .--navbar--left-- .nav-item.active .--languages-- {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .--navbar--center-- {
  text-align: center;
  width: 70%;
}

.navbar .--navbar--center-- a span {
  display: none;
}

.navbar .--navbar--center-- .--center--list-- {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

.navbar .--navbar--center-- .--center--list-- .nav-item .nav-link {
  padding: 0px 16px;
}

.navbar .--navbar--center-- .--center--list-- .nav-item .nav-link:hover {
  color: #ffffff;
}

.navbar .--navbar--center-- .--center--list-- .nav-item .nav-link i {
  display: none;
}

.navbar .--navbar--center-- .--center--list-- .nav-item ul {
  display: none;
}

.navbar .--navbar--center-- .--center--list-- .nav-item.active .nav-link {
  color: #ffffff;
}

.navbar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .--navbar--right-- {
  width: 30%;
  padding-top: 12px;
  padding-right: 61px;
  margin-top: -67px;
}

.navbar .--navbar--right-- input {
  border: none;
  outline: none;
  width: 300px;
  border-bottom: 1px solid rgba(154, 136, 2, 0.4);
  background: transparent;
  margin-right: 14px;
  color: #ffffff;
}

.navbar .--navbar--right-- .--search-- svg .icon {
  fill: #c9a882;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .--navbar--right-- .--search--:hover svg .icon {
  fill: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1850px) {
  .navbar {
    /* >>>> Left <<<< */
    /* >>>> Right <<<< */
  }
  .navbar .--navbar--left-- {
    padding-left: 40px;
  }
  .navbar .--navbar--right-- {
    padding-right: 40px;
  }
  .navbar .--navbar--right-- input {
    width: 80%;
  }
}

/* Mobile Navbar start here */
/* By changing/reducing the max-width here */
/* You can set the start of the Mobile Navbar */
@media screen and (max-width: 1334px) {
  /* >>>> Mobile Navbar <<<< */
  .navbar {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0px;
    /* >>>> Nav Left becomes Top on Tabs <<<< */
    /* >>>> Nav Center becomes Middle <<<< */
    /* >>>> Search is now set to absolute  <<<< */
    /* To show it on the top of middle search along with menu*/
  }
  .navbar .--navbar--left-- {
    margin-top: 0px;
    width: 100%;
    padding: 0px 28px 0px 28px;
    /* >>>> Setting up Login and Language selecter position <<<< */
  }
  .navbar .--navbar--left-- .nav-item.login,
  .navbar .--navbar--left-- .nav-item.lang {
    display: inline-block;
    width: 50%;
  }
  .navbar .--navbar--left-- .nav-item.login {
    text-align: right;
  }
  .navbar .--navbar--left-- .nav-item.login .nav-link svg {
    display: block;
    display: unset;
  }
  .navbar .--navbar--center-- {
    width: 100%;
    text-align: left;
    position: relative;
    /* >>>> List of Navigations <<<< */
    /* >>>> Responsible for triggering Mobile Nav <<<< */
  }
  .navbar .--navbar--center-- .--logo-- {
    position: relative;
    padding: 13px 28px 13px 38px;
  }
  .navbar .--navbar--center-- .--logo-- a span {
    display: none;
  }
  .navbar .--navbar--center-- .--logo-- a img {
    width: 160px;
  }
  .navbar .--navbar--center-- .--center--list-- {
    display: none;
    width: 100%;
  }
  .navbar .--navbar--center-- .--menu-- {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 38px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .navbar .--navbar--center-- .--menu-- .--nav--toggle-- {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #c9a882;
  }
  .navbar .--navbar--center-- .--menu-- .--nav--toggle-- .toggle {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .navbar .--navbar--center-- .--menu-- .--nav--toggle-- .toggle span {
    display: block;
    width: 20px;
    height: 1px;
    background: #c9a882;
    margin-bottom: 5px;
  }
  .navbar .--navbar--center-- .--menu-- .--nav--toggle-- .toggle span:first-child {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar .--navbar--center-- .--menu-- .--nav--toggle-- .toggle span:nth-child(2) {
    width: 16px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .navbar .--navbar--center-- .--menu-- .--nav--toggle-- .toggle span:last-child {
    margin-bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar .--navbar--right-- {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0px;
    padding: 0;
    position: absolute;
    bottom: 32px;
    right: 105px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar .--navbar--right-- input {
    display: none;
  }
  .navbar .--navbar--right-- .--search-- {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #c9a882;
  }
  .navbar .--navbar--right-- .--search-- svg {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .navbar .--navbar--right-- .--search--:hover svg .icon {
    fill: #c9a882;
  }
  /* >>>> Mobile nav will be visible by adding active class <<<< */
  .navbar.active {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0px;
    position: fixed;
    height: 100%;
    overflow: scroll;
    background: #ffffff;
    /* >>>> Nav Left becomes Top on Tabs <<<< */
    /* >>>> Nav Center becomes Middle <<<< */
    /* >>>> Remove search when mobile nav is "active" <<<< */
  }
  .navbar.active .--navbar--left-- {
    background: #000000;
    position: fixed;
    top: 0;
    padding: 0px 28px 0px 28px;
    z-index: 999999;
  }
  .navbar.active .--navbar--center-- {
    width: 100%;
    text-align: left;
    top: 0px;
    height: calc(100vh - 40px);
    background: #ffffff;
    z-index: 99;
    /* >>>> Logo becomes Text "MENU" <<<< */
    /* >>>> List with the dropdowns and navigations <<<< */
    /* >>>> Menu becomes Close on Mobile Nav "active "<<<< */
  }
  .navbar.active .--navbar--center-- .--logo-- {
    position: fixed;
    background: #ffffff;
    z-index: 999;
    top: 40px;
    width: 100%;
    -webkit-box-shadow: 0 29px 51px 0 rgba(198, 206, 215, 0.24);
            box-shadow: 0 29px 51px 0 rgba(198, 206, 215, 0.24);
  }
  .navbar.active .--navbar--center-- .--logo-- a {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-transform: uppercase;
    padding: 37px 12px;
  }
  .navbar.active .--navbar--center-- .--logo-- a span {
    display: block;
  }
  .navbar.active .--navbar--center-- .--logo-- a .svg-container {
    display: none;
  }
  .navbar.active .--navbar--center-- .--logo-- a img {
    width: 160px;
  }
  .navbar.active .--navbar--center-- .--center--list-- {
    display: block;
    width: 100%;
    padding-bottom: 15px !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    top: 135px;
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item {
    /* >>>> Dropdown List <<<< */
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item .nav-link {
    padding: 0;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #000000;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item .nav-link i {
    float: right;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    display: block;
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    display: block;
    /* >>>> Dropdown List - items <<<< */
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item ul li a {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.63);
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item ul li a.active {
    color: #c9a882;
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item.active .nav-link {
    color: #c9a882;
    font-weight: 600;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item.active .nav-link i {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item.active ul {
    margin-bottom: 25px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .navbar.active .--navbar--center-- .--center--list-- .nav-item.active ul li {
    margin-bottom: 12px;
  }
  .navbar.active .--navbar--center-- .--menu-- .--nav--toggle-- {
    border: 1px solid #000000;
  }
  .navbar.active .--navbar--center-- .--menu-- .--nav--toggle-- .toggle span {
    background: #000000;
    width: 20px;
    height: 2px;
  }
  .navbar.active .--navbar--center-- .--menu-- .--nav--toggle-- .toggle span:first-child {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar.active .--navbar--center-- .--menu-- .--nav--toggle-- .toggle span:nth-child(2) {
    opacity: 0;
  }
  .navbar.active .--navbar--center-- .--menu-- .--nav--toggle-- .toggle span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navbar.active .--navbar--right-- {
    display: none;
    opacity: 0;
  }
}

@media screen and (max-width: 620px) {
  .navbar {
    /* >>>> Nav Left becomes Top on Tabs <<<< */
    /* >>>> Nav Center becomes Middle <<<< */
    /* >>>> Search is now set to absolute  <<<< */
    /* To show it on the top of middle search along with menu*/
  }
  .navbar .--navbar--left-- {
    padding: 0px 10px 0px 10px;
  }
  .navbar .--navbar--center-- {
    /* >>>> Responsible for triggering navbar <<<< */
  }
  .navbar .--navbar--center-- .--logo-- {
    padding: 10px 20px 10px 20px;
  }
  .navbar .--navbar--center-- .--logo-- a img {
    width: 139px;
  }
  .navbar .--navbar--center-- .--center--list-- {
    display: none;
    width: 100%;
  }
  .navbar .--navbar--center-- .--menu-- {
    right: 20px;
  }
  .navbar .--navbar--right-- {
    right: 85px;
    bottom: 25px;
  }
  /* >>>> Mobile nav will be visible by adding active class <<<< */
  .navbar.active {
    /* >>>> Nav Left becomes Top on Tabs <<<< */
    /* >>>> Nav Center becomes Middle <<<< */
  }
  .navbar.active .--navbar--left-- {
    padding: 0px 10px 0px 10px;
  }
  .navbar.active .--navbar--center-- {
    /* >>>> Nav Center becomes Middle <<<< */
  }
  .navbar.active .--navbar--center-- .--logo-- a {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 28px 0px !important;
  }
  .navbar.active .--navbar--center-- .--center--list-- {
    padding: 0px 20px;
    margin: 39px 0px 0px 0px;
  }
}

/* New Functionality - Pages Direction */
.navbar .--navbar--center-- .--page-direction-- {
  margin-top: 15px;
}

.navbar .--navbar--center-- .--page-direction-- span {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: #c9a882;
}

.navbar .--navbar--center-- .--page-direction-- span span {
  padding: 0px 8px;
  color: rgba(255, 255, 255, 0.5);
}

.navbar .--navbar--center-- .--page-direction-- span a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1334px) {
  .navbar .--navbar--center-- .--page-direction-- {
    display: none;
  }
}

/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<  */
/*# sourceMappingURL=navbar.css.map */